<configuration>
  <appSettings>
    <add key="GoogleUsername" value="MyUsername" /> <!-- e,g, myuser@gmail.com || myuser@domain.com -->
    <add key="GooglePassword" value="MyPassword" /> <!-- e.g. password123 -->
    <add key="MaleTextMessage" value="Hey [forename],\nHope you have an awesome day\nTom" /> <!-- message to send to guys -->
    <add key="FemaleTextMessage" value="Hey [forename],\nHope you have an awesome day\nTom xx" /> <!-- message to send to girls -->
    <add key="GroupsToMessage" value="Group1,Group2" /> <!-- which groups in your google contacts should I send to? -->
    <add key="ClickATellUser" value="MyUsername" /> <!-- your clickatell username -->
    <add key="ClickATellPass" value="MyPassword" /> <!-- your clickatell password -->
    <add key="ClickATellApiId" value="10101010" /> <!-- your clickatell Api ID -->
    <add key="ClickATellSender" value="MySenderName" /> <!-- your custom sender name / your mobile number in the format 447000000000 -->
  </appSettings>
</configuration>