<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleUsername" value="MyUsername" />
    <add key="GooglePassword" value="MyPassword" />
    <add key="MaleTextMessage" value="Hey [name]\n\nJust a quick text to say happy christmas and all the best for [year].\n\nTom" />
    <add key="FemaleTextMessage" value="Hey [name]\n\nJust a quick text to say happy christmas and all the best for [year].\n\nTom xx" />
    <add key="GroupsToMessage" value="Group1,Group2" />
    <add key="ClickATellUser" value="MyUsername" />
    <add key="ClickATellPass" value="MyPassword" />
    <add key="ClickATellApiId" value="10101010" />
    <add key="ClickATellSender" value="MySenderName" />
  </appSettings>
</configuration>