<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClickATellUser" value="MyUsername" />
    <add key="ClickATellPass" value="MyPassword" />
    <add key="ClickATellApiId" value="10101010" />
    <add key="ClickATellSender" value="MySenderName" />
  </appSettings>
</configuration>